@model SacramentMeetingPlanner.Models.SacramentMeeting

@{
    ViewData["Title"] = "Create";
    var data = new List<SelectListItem>{
        new SelectListItem("Song", "thing"),
        new SelectListItem("Speaker", "thing2"),
        new SelectListItem("Prayer", "3rd thing"),
    };
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>Create</h1>

<h4>SacramentMeeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
             <div class="form-group">
                <label asp-for="SacramentDate" class="control-label"></label>
                <input asp-for="SacramentDate" asp-format="{0:yyyy-MM-dd}" class="form-control" value=@DateTime.Now/>
                <span asp-validation-for="SacramentDate" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Presiding" class="control-label"></label>
                <input asp-for="Presiding" class="form-control" />
                <span asp-validation-for="Presiding" class="text-danger"></span>
            </div>
            <table class="eventTable">
                <thead>
                    <tr class="eventItems">
                        <td><label class="control-label">Event</label></td>
                        <td><label class="control-label">Details</label></td>
                    </tr>
                </thead>
                <tbody id="event-list">
                    <tr id=0 class="form-group event eventItems">
                        <td><input id="type" class="form-control" name="EventList[0].EventType" /></td>
                        <td><input id="details" class="form-control" name="EventList[0].EventDetails" /></td>
                        <input type="hidden" name="EventList[0].localId" value="0" />
                        <td><a href="#" id="remove">Remove</a></td>
                    </tr>
                    @Html.EditorFor(meeting => meeting.EventList)
                </table>
            </tbody>
            <a href="#" id="add">Add</a><br>
            <input type="submit" value="Create" class="btn btn-default" />
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#add").click(function (event) {
            event.preventDefault();
            var i = $("#event-list").children().length;
            var eventSelect = `
                <tr id=${i} class="form-group event eventItems">
                    <td><input id="type" class="form-control" name="EventList[${i}].EventType" /></td>
                    <td><input id="details" class="form-control" name="EventList[${i}].EventDetails" /></td>
                    <input type="hidden" name="EventList[${i}].localId" value="${i}"/>
                    <td><a href="#" id="remove">Remove</a></td>
                </tr>`;
            $("#event-list").append(eventSelect);
        });

        $("#event-list").on("click", "#remove", function() {
            var removalId = this.parentNode.parentNode.id;
            var children = $("#event-list").children()

            children.each( function() {
                if (this.id > removalId)
                {
                    this.id = this.id - 1
                    this.children[0].name = `EventList[${this.id}].EventType`
                    this.children[1].name = `EventList[${this.id}].EventDetails`
                    this.children[2].name = `EventList[${this.id}].localId`
                    this.children[2].value = `${this.id}`;
                }
            })
            children[removalId].remove()
        });
    });
</script>
<div>
    <a asp-action="Index">Back to List</a> 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
