@using System.Reflection
@using System.ComponentModel
@model SacramentMeetingPlanner.Models.SacramentMeetingView

@{
    ViewData["Title"] = "Details";
    List<string> doNotDisplay = new() {
        "EventTypeId",
        "EventType"
    };
}

<h1>Details</h1>

<div>
    <h4>Sacrament Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentMeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentMeetingDate)
        </dd>
        @foreach (EventView item in Model.EventList)
        {
            <div class="row-sm-2 row">
                <h2>@item.EventType</h2>
                @{
                    foreach (PropertyInfo propertyInfo in item.GetType()
                            .GetProperties(
                            BindingFlags.Public
                            | BindingFlags.Instance))
                    {
                        if (!doNotDisplay.Contains(propertyInfo.Name))
                        {
                            if (propertyInfo.GetValue(item) is not null)
                            {
                                    <div class="col-3">
                                        <dt>
                                            @{
                                            object[] memberInfo = propertyInfo.GetCustomAttributes(typeof(DisplayNameAttribute), true);
                                            string nameToShow = memberInfo.Length != 0 ? memberInfo.Cast<DisplayNameAttribute>().Single().DisplayName : propertyInfo.Name;
                                            }
                                            @nameToShow
                                        </dt>
                                        <dd>
                                            @propertyInfo.GetValue(item)
                                        </dd>
                                    </div>
                            }
                        }

                    }
                }
            </div>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SacramentMeetingId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.SacramentMeetingId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
