@model SacramentMeetingPlanner.Models.SacramentMeetingView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SacramentMeeting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentMeetingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SacramentMeetingDate)
        </dd>
        @foreach (EventView item in Model.EventList){
            <dt class = "col-sm-2">
                
            </dt>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SacramentMeetingId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.SacramentMeetingId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
