@model SacramentMeetingPlanner.Models.CalendarModel
@using System.Web;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="calendar">
        <tr class="calendarHeader">
            <th>Sunday</th>
            <th>Monday</thd>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        <table class="calendar"> 
            <tr class="calendarBody">
            @foreach(DateTime Day in Calendar.EachDay(Model.Calendar.calBegin, Model.Calendar.calEnd))
            {
                @if ((int)Day.DayOfWeek % 7 == 0)
                {
                    @:</tr><tr class="calendarBody">
                }
               <td>
                    @Day.Day.ToString()
                    @foreach (SacramentMeeting meeting in Model.Meetings.Where(meeting => meeting.SacramentMeetingDate.Date == Day.Date))
                    {
                        <a asp-action="Details" asp-route-id="@meeting.SacramentMeetingId">
                            <div class="" style="overflow-wrap: break-word; background-color: light-grey"> 
                                @meeting.SacramentMeetingDate
                            </div>
                        </a>
                    }
               </td>
            }
            </tr>
        </table>
    </tbody>
</table>
