html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.calendar {
  width: 90%;
  display: table;
  table-layout: fixed;
}

td  {
  vertical-align: top;
  text-align: left;
  border: 1px solid;
  height: 100px;
}

.meetingLink {
  overflow-wrap: break-word; 
  background-color: lightgrey;
}

.eventInsert > input{
  float: left;
  overflow: visible;
}